#availableColors{
    -fx-border-style: solid inside;
    -fx-border-color: black;
    -fx-border-insets: 5;
}

#redButton{
    -fx-background-radius: 7.5em;
    -fx-background-color: red;
    -fx-border-color: black;
    -fx-border-width: 0.25;
    -fx-border-radius: 7.5em;
}

. /src/ main /resources/ css
