. /css/ SetupScene.css {

    #availableColorsPane{
        -fx-border-style: solid inside;
        -fx-border-color: black;
        -fx-border-insets: 5;
    }

    #privateGoalCardSelectionPane{
        -fx-border-style: solid inside;
        -fx-border-color: black;
        -fx-border-insets: 5;
    }

    #initialCardOrientationPane{
        -fx-border-style: solid inside;
        -fx-border-color: black;
        -fx-border-insets: 5;
    }
}