.textFlow{
    -fx-background-color:transparent;
}

.scrollText{
    -fx-background-color:transparent;
    -fx-border-style: solid inside;
    -fx-border-color: black;
    -fx-border-insets: 5;
}

.scrollPaneSend{
    -fx-background-color:transparent;
    -fx-border-style: solid inside;
    -fx-border-color: black;
    -fx-border-insets: 5;
}

.sendButton{
    -fx-background-color:transparent;
    -fx-border-style: solid inside;
    -fx-border-color: black;
    -fx-border-insets: 5;
}

.receivers{
    -fx-background-color:transparent;
    -fx-border-style: solid inside;
    -fx-border-color: black;
    -fx-border-insets: 5;
}

.textAreaSend{
    -fx-background-color: transparent;
}