.rescale{
    -fx-background-color: white;
    -fx-border-style: solid inside;
    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.center{
    -fx-background-color: white;
    -fx-border-style: solid inside;
    -fx-border-color: black;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}